model_config_list {
  config {
    name: 'm0'
    base_path: '/pokemon/m0'
    model_platform: 'tensorflow'

		model_version_policy {
			specific {
				versions: 1
			}
		}
		version_labels {
			key: 'alpha'
			value: 1
		}
  }
  config {
    name: 'm1'
    base_path: '/pokemon/m1'
    model_platform: 'tensorflow'

		model_version_policy {
			specific {
				versions: 1
			}
		}
		version_labels {
			key: 'alpha'
			value: 1
		}
  }
  config {
    name: 'm2'
    base_path: '/pokemon/m2'
    model_platform: 'tensorflow'

		model_version_policy {
			specific {
				versions: 1
			}
		}
		version_labels {
			key: 'alpha'
			value: 1
		}
  }
  config {
    name: 'm3'
    base_path: '/pokemon/m3'
    model_platform: 'tensorflow'

		model_version_policy {
			specific {
				versions: 1
			}
		}
		version_labels {
			key: 'alpha'
			value: 1
		}
  }
  config {
    name: 'm4'
    base_path: '/pokemon/m4'
    model_platform: 'tensorflow'

		model_version_policy {
			specific {
				versions: 1
			}
		}
		version_labels {
			key: 'alpha'
			value: 1
		}
  }
  config {
    name: 'm5'
    base_path: '/pokemon/m5'
    model_platform: 'tensorflow'

		model_version_policy {
			specific {
				versions: 1
			}
		}
		version_labels {
			key: 'alpha'
			value: 1
		}
  }
  config {
    name: 'm6'
    base_path: '/pokemon/m6'
    model_platform: 'tensorflow'

		model_version_policy {
			specific {
				versions: 1
			}
		}
		version_labels {
			key: 'alpha'
			value: 1
		}
  }
  config {
    name: 'm7'
    base_path: '/pokemon/m7'
    model_platform: 'tensorflow'

		model_version_policy {
			specific {
				versions: 1
			}
		}
		version_labels {
			key: 'alpha'
			value: 1
		}
  }
  config {
    name: 'm8'
    base_path: '/pokemon/m8'
    model_platform: 'tensorflow'

		model_version_policy {
			specific {
				versions: 1
			}
		}
		version_labels {
			key: 'alpha'
			value: 1
		}
  }
  config {
    name: 'm9'
    base_path: '/pokemon/m9'
    model_platform: 'tensorflow'

		model_version_policy {
			specific {
				versions: 1
			}
		}
		version_labels {
			key: 'alpha'
			value: 1
		}
  }
  config {
    name: 'm10'
    base_path: '/pokemon/m10'
    model_platform: 'tensorflow'

		model_version_policy {
			specific {
				versions: 1
			}
		}
		version_labels {
			key: 'alpha'
			value: 1
		}
  }
  config {
    name: 'm11'
    base_path: '/pokemon/m11'
    model_platform: 'tensorflow'

		model_version_policy {
			specific {
				versions: 1
			}
		}
		version_labels {
			key: 'alpha'
			value: 1
		}
  }
  config {
    name: 'm12'
    base_path: '/pokemon/m12'
    model_platform: 'tensorflow'

		model_version_policy {
			specific {
				versions: 1
			}
		}
		version_labels {
			key: 'alpha'
			value: 1
		}
  }
}
