model_config_list {
  config {
    name: 'm0'
    base_path: '/models/pokemon/m0'
    model_platform: 'tensorflow'
  }
  config {
    name: 'm1'
    base_path: '/models/pokemon/m1'
    model_platform: 'tensorflow'
  }
  config {
    name: 'm2'
    base_path: '/models/pokemon/m2'
    model_platform: 'tensorflow'
  }
  config {
    name: 'm3'
    base_path: '/models/pokemon/m3'
    model_platform: 'tensorflow'
  }
  config {
    name: 'm4'
    base_path: '/models/pokemon/m4'
    model_platform: 'tensorflow'
  }
  config {
    name: 'm5'
    base_path: '/models/pokemon/m5'
    model_platform: 'tensorflow'
  }
  config {
    name: 'm6'
    base_path: '/models/pokemon/m6'
    model_platform: 'tensorflow'
  }
  config {
    name: 'm7'
    base_path: '/models/pokemon/m7'
    model_platform: 'tensorflow'
  }
  config {
    name: 'm8'
    base_path: '/models/pokemon/m8'
    model_platform: 'tensorflow'
  }
  config {
    name: 'm9'
    base_path: '/models/pokemon/m9'
    model_platform: 'tensorflow'
  }
  config {
    name: 'm10'
    base_path: '/models/pokemon/m10'
    model_platform: 'tensorflow'
  }
  config {
    name: 'm11'
    base_path: '/models/pokemon/m11'
    model_platform: 'tensorflow'
  }
  config {
    name: 'm12'
    base_path: '/models/pokemon/m12'
    model_platform: 'tensorflow'
  }
}
