model_config_list {
  config {
    name: 'm0'
    base_path: '/lorcana/m0'
    model_platform: 'tensorflow'

		model_version_policy {
			specific {
				versions: 1
			}
		}
		version_labels {
			key: 'prod'
			value: 3
		}
		version_labels {
			key: 'beta'
			value: 2
		}
		version_labels {
			key: 'alpha'
			value: 1
		}

		max_batch_size { value: 128 }
		batch_timeout_micros { value: 0 }
		max_enqqueued_batches { value: 1000000 }
		nun_batch_treads { value: 8 }
  }
}
